@model TodoList.Web.Models.ToDoItemDTO[]

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @foreach (var todo in Model)
    {
        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">@todo.Title</div>
            <div class="card-body">
                <p class="card-text">@todo.Description</p>
                <button class="btn btn-primary">Mark as done</button>
            </div>
        </div>
    }
</div>
