<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/dist/libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/dist/libs/fortawesome/css/all.css" />
    <title>SportsStore</title>
</head>
<body>
    @await Component.InvokeAsync("NavigationMenu")
    <div class="row m-1 p-1 ">
        <div class="offset-1 col-10">
            @RenderBody()
        </div>
    </div>
    <script src="~/dist/libs/jquery/jquery.min.js"></script>
    <script src="~/dist/libs/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html> 